body {
  background: url('https://wallpapercave.com/wp/wp2902991.jpg');
  background-attachment:fixed;
  background-size:cover;
}

.toggle-planet {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 20px;
}