.header {
  margin-top: .5rem;
  padding: 10px;
}

.header h3 img {
  margin-right: 20px;
}

.header ul li {
  list-style: none;
  margin: 0;
  padding: .5rem 1rem;
  border-radius: 3px;
}

.header ul li:hover {
  background-color: #444;
}

.header ul li a {
  color: #FEEA4E;
}

.header a:hover {
  text-decoration: none;
}

.header h3 a {
  color: white;
  transition: all .1s ease;
}

.header h3 a:hover {
  opacity: .6;
}
